// out: ../css/agency.css, compress: true, strictMath: true
@import "variables.less";
@import "mixins.less";
// Global Components 

html,
body {
    overflow: hidden;
    background-color: @brand-primary;
    .body-font();
    height: 100%;
    width: 100%;
    color: white;
}

.ribbon {
    position: fixed;
    right: -38px;
    top: -38px;
    width: 190px;
    height: 190px;
    background-image: url(../img/ribbon.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

#start {
    height: 100%;
    .row, .col-md-3 {
        height: 100%;
    }
    .content {
        height: 100%;
        text-align: center;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

.sidebar {
    position: relative;
    h2 {
        line-height: 1.25;
        margin: 30px 0 0 30px;
        letter-spacing: 1px;
        font-size: 28px;
    }
    ul {
        position: absolute;
        bottom: 30px;
        left: 0;
        margin: 0;
        font-size: 14px;
        list-style: none;
        padding-left: 30px;
        li {
            font-weight: 700;
            margin-bottom: 2px;
            a {
                display: block;
                width: 100%;
                height: 100%;
                transition: all 0.2s;
                &:hover {
                    transform: skewX(-20deg);
                }
            }
        }
    }
}

// Start
.start {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center 40px;
    background-size: 40%;
    transition: background-position 0.4s ease-out;
    position: relative;
    cursor: pointer;
    .cat {
        position: absolute;
        bottom: 130px;
        width: 100%;
        left: 0;
        font-weight: 700;
        font-size: 18px;
    }
    &:hover {
        background-position: center 80px;
    }
}

.start.open {
    pointer-events: none;
    button {
        pointer-events: all;
        outline: none !important;
    }
    button:active {
        outline: none !important;
    }
}

.first {
    background-image: url(../img/first.svg);
}

.second {
    background-image: url(../img/second.svg);
}

.third {
    background-image: url(../img/third.svg);
}

.row-no-padding [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

//crazy click
.closeBtn,
.cbutton {
    position: absolute;
    bottom: 60px;
    left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    padding: 0;
    margin-left: -30px;
    background-image: url(../img/arrow.svg);
    font-size: 1.4em;
    border: 2px solid white;
    transition: color 0.7s;
    background-color: transparent;
    &:hover::after {
        opacity: 0.3;
    }
}

.cbutton.closex {
    background-image: url(../img/close.svg);
}

.closeBtn::after,
.cbutton::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50% 0 0 -50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;
    background: rgba(111, 111, 111, 0.5);
    transition: opacity 0.2s;
}

.cbutton-click::after {
    -webkit-animation: anim-click 0.5s forwards;
    animation: anim-click 0.5s forwards;
    background: rgba(111, 111, 111, 0.5);
}

@-webkit-keyframes anim-click {
    0% {
        opacity: 1;
        -webkit-transform: scale3d(0.1, 0.1, 1);
        transform: scale3d(0.1, 0.1, 1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale3d(6, 6, 1);
        transform: scale3d(6, 6, 1);
    }
}

@keyframes anim-click {
    0% {
        opacity: 1;
        -webkit-transform: scale3d(0.1, 0.1, 1);
        transform: scale3d(0.1, 0.1, 1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale3d(6, 6, 1);
        transform: scale3d(6, 6, 1);
    }
}

p {
    font-size: 16px;
    line-height: 1.65;
    padding: 15px 30px 0 30px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

p.name {
    line-height: 1.4;
    font-weight: 400;
    transition: all 0.2s;
    a {
        display: block;
        color: white;
        font-weight: 700;
    }
    &:hover {
        transform: skewX(-20deg);
    }
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: none;
    color: white;
}

.partner {
    display: inline-block;
    width: 100%;
    height: auto;
    margin-top: 40px;
    img {
        width: 80px;
        height: auto;
    }
}

.impressum {
    position: fixed;
    top: 0;
    color: black;
    display: none;
    opacity: 0;
    z-index: 999;
    padding-top: 30px;
    overflow-y: scroll;
    height: 100%;
    b {
        display: block;
    }
    h2 {
        margin-left: 30px;
        margin-top: 0;
    }
    .closeBtn {
        background-image: url(../img/closeB.svg);
        top: 30px;
        right: 30px;
        left: auto;
        margin: 0;
        border-color: black;
    }
}

.impressumBtn {
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
        transform: skewX(-20deg);
    }
}

.slide-tiles {
    z-index: 999;
    div {
        background-color: white;
        opacity: 1;
        position: relative;
        transform-origin: bottom;
    }
}

a:hover,
a:focus,
a:active,
a.active {
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    .heading-font();
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

// Highlight Color Customization
::-moz-selection {
    text-shadow: none;
    background: @brand-primary;
}

::selection {
    text-shadow: none;
    background: @brand-primary;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    webkit-tap-highlight-color: @brand-primary;
}

.mobileVisual {
    display: none;
}

.mobile {
    display: none;
}


// Mobile

@media(max-width:768px) {
    html, body {
        overflow: auto;
        height: auto;
        overflow-x: hidden;
    }
    #start {
        height: auto;
        .row, .col-md-3 {
            height: auto;
        }
        .content {
            height: auto;
            overflow: auto;
            overflow-x: hidden;
        }
    }
    .start {
        display: none;
    }
    .ribbon {
        display: none;
    }
    .sidebar {
        position: relative;
        h2 {
            line-height: 1.25;
            margin: 30px 0 0 15px;
            letter-spacing: 1px;
            font-size: 28px;
            display: block;
        }
        ul {
            position: relative;
            font-size: 14px;
            list-style: none;
            padding-left: 15px;
            margin: 50px 0 0 0;
            li {
                font-weight: 700;
                margin-bottom: 2px;
            }
        }
    }
    .mobile {
        font-weight: bold;
        line-height: 1.25;
        margin: 60px 0 0 0px;
        letter-spacing: 1px;
        font-size: 28px;
        display: block;
    }
    .sidebar {
        ul {
            display: none;
        }
    }
    .impressum {background: white;}
    
    #footer {
        ul {
            display: block;
            bottom: 30px;
            left: 0;
            margin: 0;
            font-size: 18px;
            padding-left: 0px;
            li {
                margin: 20px 0 20px 0;
                text-align: center;
            }
        }
    }
    .mobileVisual {
        margin: 20px 0 0 0;
        display: block;
        height: 95vw;
        width: 100%;
        col-xs-4 {}
        .first {
            background-image: url(../img/first.svg);
            height: 100%;
            background-repeat: no-repeat;
            background-position: center top;
        }
        .second {
            background-image: url(../img/second.svg);
            height: 100%;
            background-repeat: no-repeat;
            background-position: center top;
        }
        .third {
            background-image: url(../img/third.svg);
            height: 100%;
            background-repeat: no-repeat;
            background-position: center top;
        }
    }
    .partner {
        float: left;
        width: 50%;
        margin: 30px 0 30px 0;
        display: block;
        overflow: auto;
        img {
            width: 80px;
            height: 60px;
        }
    }
}